*{
    margin:0;
    padding:0;
}

.form-control{
    position:relative;
left:200px;
top:-37px;
line-height: 40px;
width:480px;
border-radius:6px;
padding:0 15px;
font-size: 16px;
color:#555;
margin-left: 10px;
}
.form-group{
    margin-top: 20px;
    margin-left: 260px;
    font-size: medium;
    
}
.strong{
    margin-top:0px;
    padding:210px;
    text-align: center;
    align-items: center;
    font-size: medium;
}
.btn {
    size-adjust: 10px;
    display: block;
    margin:10px 20px 0px 10px;
    text-align:center;
    border-radius:30px;
    border:1;
    margin-left: 490px;
    padding:14px 40px;
    outline: none;
    transition: 0.25px;
    align-items: center;   
   
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
}
